* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  box-shadow: 0 0 5px grey;
  margin: 0 auto;
  background: #ffffff;
  font-size: 24px;
}

.parallax {
  background-image: url("imgs/20170206-_DSC1468small.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 62px;
  padding-top: 130px;
}
.Gallery-Photos {
  margin-top: 25px;
  margin-bottom: 180px;
}

#text-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
  font-size: 42px;
  font-weight: 900;
  text-align: center;
  font-style: bold;
}

#first-overlay {
  font-size: 34px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 10%;
  background-color: #ffffff;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: #24252a;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: (0, 136, 169, 0.8);
}

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #fff;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25%;
  font-size: 60px;
}

.About-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25%;
  margin-left: 25%;
  font-size: 20px;
  line-height: 30px;
  align-items: center;

  border-top-style: solid;
  border: 5px 5px;
  border-bottom: solid;
  border-color: #24252a;
}

.About {
  margin-top: 35px;
}

h4 {
  font-size: 44px;
}

.List-services {
  list-style: decimal;
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 45px;
}

.Services {
  border-bottom: #24252a;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
}

.Contact {
  text-align: center;
  font-size: 40px;

  border-top-style: solid;
  border: 5px 5px;
  border-bottom: solid;
  border-color: #24252a;
  margin-bottom: 30px;
  margin-top: 150px;
}

h5 {
  font-size: 74px;
}

.body {
  margin: 0;
  padding: 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}
#Gallery {
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #24252a;
  width: 270px;
  height: 500px;
  margin: 10px;
  border-radius: 15px;
}

.card-image {
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.car-1 {
  background-image: url("imgs/download\ \(1\).jpg");
}

.car-2 {
  background-image: url("imgs/cutthroat3-2.png");
}

.card h2 {
  padding: 10px;
  color: white;
}

.card p {
  padding: 10px;
  color: white;
  font-size: 18px;
}

.card a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
}

.card:hover {
  background-color: rgba(62, 62, 62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

h6 {
  color: white;
  text-align: center;
}

.wills-img {
  margin-top: 100px;
  display: flex;
}
.guides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 60px;
  margin-top: 200px;
}

.wills-img {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
h8 {
  font-size: 40px;
}
.container1 {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: 0;
  margin-right: 30%;
  margin-left: 30%;
}

.profile-box {
  background: #24252a;
  text-align: center;
  padding: 40px 90px;
  color: #fff;
  position: relative;
  border-radius: 20px;
}

.menu-icon {
  width: 25px;
  position: absolute;
  left: 40px;
  top: 40px;
}
.setting-icon {
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}
.profile-pic {
  width: 350px;
  border-radius: 50%;
  background: #24252a;
  padding: 6px;
  margin-top: 40px;
}
.profile-box h7 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
  padding: 0;
  justify-content: center;
}
.profile-bottom {
  background: rgb(46, 45, 45);
  color: #999;
  padding: 60px 0;
  margin-right: -90px;
  margin-left: -90px;
  margin-bottom: -40px;
  border-radius: 20px;
  margin-top: -10px;
}
.profile-bottom img {
  width: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.profile-box button {
  background: #fff;
  color: #000000;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(32, 87, 0, 0.473);
  padding: 15px 60px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: -50px;
  font-weight: 16px;
display: none;
}
.social-media img {
  width: 20px;
  margin: 30px 5px;
  cursor: pointer;
}
.icons a {
  text-decoration: none;
  margin-top: 25px;
  text-decoration-color: #fff;
  -webkit-tap-highlight-color: transparent;
}
.front {
  backface-visibility: hidden;
}

.back {
  height: 100%;
  width: 100%;
  background: #24252a;
  margin-bottom: -150px;
  font-size: 12px;
  color: #fff;
  border-radius: 30px;
  padding: 15px 60px;
  position: absolute;
}
.back p {
  font-size: 20px;
}
.back h1 {
  font-size: 26px;
}

.card1 {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  transform-style: preserve-3d;
}
.card1 .front,
.card1 .back {
  backface-visibility: hidden;
}
.card1 .back {
  transform: rotateY(180deg);
}

.card1:hover {
  transform: rotateY(180deg);
  background-clip: padding-box;
}

@media screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    margin: 0 0 0;
    padding: 0 0 0;
  }
  .navigation-manual {
    max-width: 800px;
    width: 100%;
  }

  .profile-bottom {
    background: rgb(46, 45, 45);
    color: #999;
    /* padding: 60px 0; */
    margin: 0 0 0;
    border-radius: 20px;
  }
  .profile-box {
    padding: 0px 0px;
  }

  .nav__links {
    font-size: 10px;
  }

  .parallax {
    height: 800px;
  }
  header{
    display: none;
  }
  #Gallery{
    margin-bottom: 50px;
  }
  .profile-box button:after{
    content: "Click Me";
   } 
   .parallax {
    background-image: url("imgs/1-9.jpg");
  }
  #text-overlay{
    color: #fff;
  }
  
  /* .logo img {
    height: 10px;
    width: 10px;
    padding: 0;
  } */
  /*
 header{
 padding: 0;
 }
 .cta{
  font-size: 30px;
 }
 .About-us{
  font-size: 60px;
  line-height: 100%;
  margin: 20px 50px 0px;
 }
 h2{
  font-size: 80px;
  margin-top: 20%;
 }
 .container1{
  height: 50vh;
  margin: 100px 40px 0px;
 }
 .profile-pic{
  width: 700px;
 }
 .profile-box p{
  font-size: 50px;
  padding-bottom: 20px;
 }
 .social-media{
 display: none;
 }
 .profile-box button:after{
  font-size: 35px;
  content: "Click Me";
 } */
}
